<% content_for :title, "Editing #{@path.name}" %>
<h1 class="main-title">
	Editing Path
	<span><%= link_to 'Cancel and Return', [@layer, @path], :class => 'cancel-link' %></span>
</h1>

<%= render 'form' %>

<%= link_to 'Show', [@layer, @path] %>